@import url(https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i);

.snakeblock {
  background: black;
  /* background-color: #007BFF; */
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 10px;
}

#will{
  height: 50px;
  width: 50px;
}

.gameBoard{
  border: 10px solid white;
  position: relative;
  margin: 10px auto;
  border-radius: 10px;
  background-color: greenyellow;
  background: rgba(255, 197, 174, 0.7);
  box-shadow: 5px 5px 5px 5px #007BFF;
}
.text{
  font-family: 'Google Sans';
  font-weight: 800;
  color: #007BFF;
  font-size: 40px;
  padding: 5px 20px;
  background: linear-gradient(rgba(255, 197, 174, 0.3),rgb(228, 183, 167));
  border-radius: 50px;
  display: inline-block;
  margin: auto auto;
  position: relative;
}
#title{
  font-size: 80px;
}

#you-die{
  background: radial-gradient(black,red);
  color: white;
  text-align: center;
  padding: 320px 100px;
  display: none;
  position: absolute;
  bottom: 0px;
  left: 430px;
  z-index: 1;
}

#start-screen{
  margin: 200px 0;
}

.state-msgs{
  font-size: 100px;
}

html, body{
  background: radial-gradient(#8dffc2,#a88dff);
  text-align: center;
}

#head{
  background-color: rgb(231, 149, 16);
}


#apple {
  height: 50px;
  width: 50px;
  position: absolute;
}

#score{
  margin: 40px 40px;
  position: absolute;
}