.snakeblock {
  background: black;
  height: 50px;
  width: 50px;
  background-color: #007BFF;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 10px;
}

#head{
  background-color: greenyellow;
}


#apple {
  height: 50px;
  width: 50px;
  position: absolute;
}